nbproject
bootstrap
nuxt1
proj1
.vscode
docker-setup/mysqldata
docker-setup/docker-compose.yml.orig
docker-setup/orig.env
docker-setup/logs/apache2/*
!docker-setup/logs/apache2/.gitignore
docker-setup/logs/mysql/*
!docker-setup/logs/mysql/.gitignore
docker-setup/history/*
!docker-setup/history/.gitignore
docker-setup/redisdata/*
!docker-setup/redisdata/.gitignore
docker-setup/images
docker-setup/config/s6web/web/supervise/status
.code-workspace
movies-full-source-code
htdocs/movies.opigno
htdocs/opigno_lms-8.x-1.0-beta3-core.tar.gz
